<%- include ('partials/head.ejs') %>
    <title>Página Principal</title>
<%- include ('partials/links.ejs') %>
    <%- include ('partials/header.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-header titulo">
                <h2>Pesquise por Perguntas</h2>
                <a class="btn btn-primary" href="/publicar">Fazer uma pergunta</a>
            </div>
            
            <div class="card-body">
                <input class="form-control" type="text" placeholder="Digite um titulo para sua pergunta..."> <br>
                <button class="btn btn-primary"><img width="18px" height="18px" src="/img/busca.svg" alt="Botão de busca">Buscar</button>
            </div>
        </div>
    </div>
    <%- include ('partials/footer.ejs') %>
<%- include ('partials/scripts.ejs') %>
