<%- include ('partials/head.ejs') %>
    <title>Lista</title>
<%- include ('partials/links.ejs') %>
    <%- include ('partials/header.ejs') %>    
    <div class="container">      
        <div class="titulo">
            <h2>Lista de Perguntas</h2>
            <a class="btn btn-primary" href="/publicar">Fazer uma pergunta</a>
        </div>
        <% perguntas.forEach(function(pergunta) { %>
        <br>
        <div class="container card">
            <h4><%= pergunta.titulo %></h4> 
            <p><%= pergunta.descricao %></p>
        </div>
        <% }) %>
    </div>
    <%- include ('partials/footer.ejs') %>
<%- include ('partials/scripts.ejs') %>
