<%- include ('partials/head.ejs') %>
    <title>Página da Pergunta</title>
<%- include ('partials/links.ejs') %>
    <%- include ('partials/header.ejs') %>
    <div class="container main">

        <div class="card">

            <div class="card-header">
                <h2>Publicar Pergunta</h2>
            </div>

            <div class="card-body">
                
                <label for="titulo">Título da pergunta</label>
                <h3><%= pergunta.titulo %></h3>

                <label for="descricao">Descrição da pergunta</label>
                <h4><%= pergunta.descricao %></h4>           
                
                <br>      
                
                <form action="publicar" method="post">
                    <textarea name="descricao" cols="30" rows="10"></textarea>
                    <button class="btn btn-primary"><img width="18px" height="18px" src="/img/busca.svg" alt="Botão de busca">Publicar Pergunta</button>
                </form>

            </div>

        </div>

    </div>
    <%- include ('partials/footer.ejs') %>
<%- include ('partials/scripts.ejs') %>
