<%- include ('partials/head.ejs') %>
    <title>Publicar Pergunta</title>
<%- include ('partials/links.ejs') %>
    <%- include ('partials/header.ejs') %>    
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Publicar Pergunta</h2>
            </div>
            <div class="card-body">
                <form action="publicar" method="post">
                    <label for="titulo">Título da pergunta</label>
                    <input class="form-control" type="text" name="titulo" placeholder="Digite um titulo para sua pergunta..."> <br>

                    <label for="descricao">Descrição da pergunta</label>
                    <textarea class="form-control" name="descricao" cols="30" rows="5" placeholder="Descreva com mais detalhes sua pergunta..."></textarea> <br>
                    
                    <button class="btn btn-primary"><img width="18px" height="18px" src="/img/busca.svg" alt="Botão de busca">Publicar Pergunta</button>
                </form>
            </div>
        </div>
    </div>
    <%- include ('partials/footer.ejs') %>
<%- include ('partials/scripts.ejs') %>
